* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

form {
  width: 98%;
  height: 98%;
  border: 2px solid rgb(176 194 235);
  margin: 10px;
  border-radius: 5px;
  box-shadow: -2px -2px 5px rgb(159, 185, 244);
  padding: 10px;
  color: gray;
  font-size: 9px;
}

.topHead {
  display: flex;
  height: 105px;
  width: 100%;
  background-color: rgb(135 206 250);
  color: white;
  font-size: 1.5vw;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 3.5% 0;
}

.row {
  padding: 5px;
}

input,
select {
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px;
  font-size: 10px;
}

._contact {
  display: flex;
  margin: 5px;
  gap: 3px;
  width: 30px;
  color: black;
}

._contact label {
  padding-top: 5px;
}

.timeBox {
  display: flex;
  margin: 5px;
  gap: 3px;
  width: 30px;
  color: black;
}

.timeBox label {
  white-space: nowrap;
  padding-top: 5px;
}

textarea {
  width: 100%;
}

button {
  background-color: rgb(50 99 205);
  color: white;
  font-size: 10px;
  border-radius: 3px;
  width: 120px;
  height: 25px;
  border: 0px;
  margin: 0 auto;
  display: block;
}
